<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Contas</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
	<div class="container">
    <div th:if="${not #lists.isEmpty(contas)}">
        <h2>Todas Contas</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Mes/Ano</th>
                <th>Total Valor</th>
                <th>Total Consumo</th>
                <th>Delete</th>
            </tr>
            <tr th:each="conta : ${contas}">
                <td th:text="${conta.id}">Id</td>
                <td th:text="${conta.mesAno}">Mes/Ano</td>
                <td th:text="${conta.totalValor}">Total Valor</td>
                <td th:text="${conta.totalKWH}">Total Consumo</td>
                <td><a th:href="${'/contas/delete/' + conta.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>